<html>
  <head>
    <link rel='stylesheet' href='css/styles.css' />
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
  </head>
  <body>
    <div class="main-content">
      {{>header}}
      <p>This site was created and deployed by Michael Hamill during the complete nodejs developer course on Udemy.</p>
      <img src='img/portrait.jpg' alt='Profile picture' class="portrait"/>
    </div>
    {{>footer}}
  </body>
</html>